---
layout: default
---

{% if page.logo %}
{% assign base_path = page.url | remove: "/index.html" | append: "/" %}
<img src="{{ page.logo | prepend: base_path | relative_url  }}" class="img-thumbnail float-end mx-3" alt="Edit this entry" style="max-width: 200px";>
{% endif %}

{{ content }}

<dl>
    <dt>URL</dt>
    <dd><a href="{{ page.resource_url }}">{{ page.resource_url }}</a></dd>
    
    <dt>Skills</dt>
    <dd>{% include skill_levels.html skills=page.skill-levels show_level=true%}</dd>

    <dt>Roles</dt>
    <dd>{% include roles.html roles=page.roles %}</dd>

    <dt>Learning Objectives</dt>
    {% for lo in page.learning-objectives %}
    <dd>{{ lo.learning-objective }}</dd>
    {% endfor %}

    {% if page.cost %}
    <dt>Cost</dt>
    <dd>{{ page.cost }}</dd>
    {% endif %}

    {% if page.language %}
    <dt>Language</dt>
    <dd>{{ page.language }}</dd>
    {% endif %}

    {% if page.creators %}
    <dt>Creators</dt>
    {% for c in page.creators %}
    <dd>{{ c.creator }}</dd>
    {% endfor %}
    {% endif %}

    {% if page.provider %}
    <dt>Provider</dt>
    <dd>{{ page.provider }}</dd>
    {% endif %}

    {% if page.licence %}
    <dt>Licence</dt>
    <dd>{{ page.licence }}</dd>
    {% endif %}

    {% if page.resource-type %}
    <dt>Resource Type</dt>
    <dd>{{ page.resource-type }}</dd>
    {% endif %}

    {% if page.accredited %}
    <dt>Accredited</dt>
    <dd>{{ page.accredited }}</dd>
    {% endif %}

    <dt>Open Access?</dt>
    {% if page.open-access %}
    <dd>Yes</dd>
    {% else %}
    <dd>No</dd>
    {% endif %}

    {% if page.series %}
    <dt>Series</dt>
    <dd>{{ page.series }}</dd>
    {% endif %}

    {% if page.files %}
    <dt>Files</dt>
    {% for file in page.files %}
    <dd><a href="{{ file | prepend: base_path | relative_url }}">{{ file }}</a></dd>
    {% endfor %}
    {% endif %}

    {% if page.related-items %}
    <dt>Related Items</dt>
    {% for item in page.related-items %}
    {% assign related = site.resources | where:"title", item.resource | first %}
    <dd><a href="{{ related.url | relative_url }}">{{ item.resource }}</a></dd>
    {% endfor %}
    {% endif %}

    <dt>Record Created On</dt>
    <dd>{{ page.created }}</dd>

    <dt>Record Last Modified On</dt>
    <dd>{{ page.last_modified_at | date: "%Y-%m-%d"}}</dd>
</dl>

{% if site.editable %}
<p style="text-align: right">
  <a target="_blank" class="btn btn-primary" href="{{ site.editor_url }}/admin/#/collections/resources/entries/{{ page.path | remove: "_resources/" | remove: ".md"}}" role="button">Edit This Resource</a>
</p>
{% endif %}
