---
layout: default
---

{{ content }}

{% if site.editable %}
<p style="text-align: right">
  <a target="_blank" class="btn btn-primary" href="{{ site.editor_url }}/admin/#/collections/skills/entries/{{ page.path | remove: "_skills/" | remove: ".md"}}" role="button">Edit This Skill</a>
</p>
{% endif %}


<h2>Resources</h2>

<table id="mainTable" data-page-length="50" data-pagefind-ignore>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Skills</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
{% for item in site.resources %}
{% assign show = false %}
{% for skill-level in item.skill-levels %}
{% if skill-level.skill == page.title %}
{% assign show = true %}
{% endif %}
{% endfor %}
{% if show %}
    <tr>
      <td data-sortable="true">
    <a href="{{ item.url }}">
      {{ item.title }}
    </a>
      </td>
      <td>
      {% include skill_levels.html skills=item.skill-levels %}
      </td>
      <td>
      {% include roles.html roles=item.roles %}
      </td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>

